
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(238, 249, 191) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topo{
    margin-top: 40px;  
    margin-bottom: 47px;
    font-size: 56px;
    color: #75b79e;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;    
}

.jogo{
    margin-top: 50px;
    display: grid;
    grid-gap: 40px;
}

.carta{
    width: 117px;
    height: 146px;
    border-radius: 5px;
    background-color:  #A7E9AF;
    border: 1px solid #99cea8;
    margin:25px 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: all 1s;
    transform-style: preserve-3d;
}

img{
 height: 100px;
 width: 100px; 
 margin-left: 10px;
 margin-top: 25px;  
}

.carta.selecionada {
    transform: rotateY(180deg);
}

.cartaFrente.cartaVirada{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;    
}

.cartaVirada{    
    transform: rotateY(180deg);        
}

.desabilitada{
    pointer-events: none;
}

.ponto{
    transform: rotateY(180deg);
    pointer-events: none;
}



@media (max-width: 335px){
    .jogo{
        display: flex;
        flex-direction: column;
    }
}
 

